@font-face {
  font-family: 'metro';
  src: url('../metro/metro.svg') format('svg'), url('../metro/metro.woff') format('woff'), url('../metro/metro.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html,
body {
  width: 100vw;
  min-height: 100vh;
  font-family: 'metro';
}

body {
  line-height: 1.5;
  margin: 0;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

.flex {
  display: flex;
}

.flex-center {
  justify-content: space-around;
  align-items: center;
}

.circle {
  border-radius: 50%;
}

.shadow {
  box-shadow: -5px 5px 25px var(#000000);
}

.transparent {
  opacity: 0;
}

.hidden {
  display: none;
}

@media screen and (max-width: 640px) and (orientation: portrait) {
  html, body {
    font-size: 12px;
  }
}

@media screen and (max-width: 460px) and (orientation: portrait) {
  html, body {
    font-size: 10px;
  }
}

@media screen and (max-width: 420px) and (orientation: portrait) {
  html, body {
    font-size: 9px;
  }
}

@media screen and (max-height: 640px) and (orientation: landscape) {
  html, body {
    font-size: 12px;
  }
}

@media screen and (max-height: 460px) and (orientation: landscape) {
  html, body {
    font-size: 10px;
  }
}

@media screen and (max-height: 420px) and (orientation: landscape) {
  html, body {
    font-size: 9px;
  }
}