.introduce {
  opacity: 0;
  transition: opacity 1s ease;
  width: 100vw;
  height: 100vh;
}

.items {
  display: flex;
  position: relative;
  height: 40vh;
  top: 20vh;
  width: 70vw;
  margin: 0 auto;
  align-self: center;
  flex-direction: column;
  justify-content: space-between;
}

.item-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.item {
  display: flex;
  width: 50%;
  flex-direction: row;
  align-items: center;
}

.item>* {
  margin-left: 3rem;
}

.item-icon {
  font-size: 3rem;
}

.item-title {
  display: flex;
  flex-direction: column;
}

.item-main-title {
  font-weight: bold;
}

@media screen and (orientation: portrait) {
  .items {
    justify-content: stretch;
    width: fit-content;
    height: 50vh;
    margin: 0 auto;
  }

  .item-row {
    flex-direction: column;
    height: auto;
    margin: 0 auto;
  }

  .item-row > * {
    margin-bottom: 5rem;
  }

  .item {
    width: fit-content;
  }
}