:root {
    --metro-lime: #A4C400;
    --metro-green: #60A917;
    --metro-emerald: #008A00;
    --metro-teal: #00ABA9;
    --metro-blue: #00aff0;
    --metro-cyan: #1BA1E2;
    --metro-cobalt: #0050EF;
    --metro-indigo: #6A00FF;
    --metro-violet: #AA00FF;
    --metro-pink: #DC4FAD;
    --metro-magenta: #D80073;
    --metro-crimson: #A20025;
    --metro-red: #CE352C;
    --metro-orange: #FA6800;
    --metro-amber: #F0A30A;
    --metro-yellow: #E3C800;
    --metro-brown: #825A2C;
    --metro-olive: #6D8764;
    --metro-steel: #647687;
    --metro-mauve: #76608A;
    --metro-taupe: #87794E;
    --metro-black: #000000;
    --metro-dark: #1D1D1D;
    --metro-gray-darker: #222222;
    --metro-gray-dark: #333333;
    --metro-gray: #555555;
    --metro-gray-light: #999999;
    --metro-gray-lighter: #EEEEEE;
    --metro-white: #FFFFFF;
    --metro-dark-brown: #63362F;
    --metro-dark-crimson: #640024;
    --metro-dark-magenta: #81003C;
    --metro-dark-indigo: #4B0096;
    --metro-dark-cyan: #1B6EAE;
    --metro-dark-cobalt: #00356A;
    --metro-dark-teal: #004050;
    --metro-dark-emerald: #003E00;
    --metro-dark-green: #128023;
    --metro-dark-orange: #BF4A15;
    --metro-dark-red: #9A1616;
    --metro-dark-pink: #9A165A;
    --metro-dark-violet: #57169A;
    --metro-dark-blue: #16499A;
    --metro-light-blue: #4390DF;
    --metro-light-cyan: #59CDE2;
    --metro-light-teal: #45FFFD;
    --metro-light-green: #7AD61D;
    --metro-light-olive: #78AA1C;
    --metro-light-orange: #FFC194;
    --metro-light-pink: #F472D0;
    --metro-light-red: #DA5A53;
    --metro-lighter-blue: #00CCFF;
}