body {
    line-height: 1.5;
    font-size: 14px;
    font-family: sans-serif;
    margin: 0px auto 3px auto;
    padding-bottom: 3%;
}

.flex {
    display: flex;
}

.main {
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.header {
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 7%;
    background: #61B15A;
    transition: 0.5s;
}

.header:hover {
    height: 8%;
}

.header-left {
    justify-content: flex-start;
    align-items: center;
    width: 70%;
    height: 80%;
}

.header-right {
    justify-content: flex-end;
    align-items: center;
    width: 30%;
    height: 80%;
}

.logo {
    width: auto;
    height: 100%;
}

.logo-link {
    width: auto;
    height: 100%;
    transition: 0.5s;
}

.logo-link:hover {
    width: auto;
    height: 120%;
}

.logo-image {
    width: auto;
    height: 100%;
    transition: 0.5s;
}

.header-search {
    border-radius: 5px;
    width: 30%;
    height: 50%;
    box-shadow: 1px 1px 4px 0px;
    transition: 0.5s;
}

.header-search-input {
    width: 100%;
    height: 100%;
    line-height: 1.5;
    border-radius: 5px;
    background: inherit;
    border: 1px solid #ADCE74;
    background-color: #F4F4F4;
    transition: 0.5s;
}

.header-search:focus-within {
    width: 40%;
    height: 65%;
}

.header-search:hover {
    width: 40%;
    height: 65%;
}

.header-search-input:focus {
    outline: none;
    background: #FFF76A;
}

.header-search-input:hover {
    outline: none;
    background: #FFF76A;
}

.container {
    width: 85%;
    height: 55%;
    border-radius: 30px;
    border: 1.5px solid #dfe1e5;
    transition: 0.5s;
}

.container:hover {
    width: 90%;
    height: 60%;
}


.footer {
    margin-top: auto;
    width: 70%;
    height: 10%;
    border-radius: 30px;
    border: 1.5px solid #dfe1e5;
    transition: 0.5s;
}

.footer:hover {
    width: 80%;
    height: 12%;
}