@font-face {
    font-family: 'metro';
    src: url('metro/metro.svg') format('svg'), url('metro/metro.woff') format('woff'), url('metro/metro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: 'metro';
}

body {
    line-height: 1.5;
    margin: 0;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

.flex {
    display: flex;
}

.flex-center {
    justify-content: space-around;
    align-items: center;
}

.circle {
    border-radius: 50%;
}

.shadow {
    box-shadow: -5px 5px 25px var(#000000);
}

@keyframes move-to-left {
    to {
        left: -100vw;
    }
}

@keyframes move-to-right {
    to {
        left: 100vw;
    }
}

@keyframes get-bigger {
    from {
        width: 0vw;
        height: 0vh;
    }
    to {
        width: 100vw;
        height: 100vh;
    }
}

@keyframes font-size-get-bigger {
    to {
        font-size: 100px;
    }
}

@keyframes be-square {
    to {
        border-radius: 0%;
    }
}

@keyframes fade-in {
    to {
        opacity: 1;
    }
}

@keyframes fade-out {
    to {
        opacity: 0;
    }
}