.welcome {
    display: table;
    position: relative;
    width: 0vw;
    height: 0vh;
    animation: get-bigger 1s ease 0s forwards;
}

.welcome-text {
    display: table-cell;
    align-self: center;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
    width: 100%;
    height: fit-content;
    opacity: 0;
    color: #FFFFFF;
    animation: font-size-get-bigger 1s ease 0s forwards, fade-in 1s ease 0s forwards;
}

.welcome-next {
    position: absolute;
    right: 2em;
    bottom: 2em;
    width: 10em;
    height: 3em;
    background-color: #4390DF;
    z-index: 1;
    opacity: 0;
    color: #FFFFFF;
    font-size: 20px;
    animation: fade-in 1s ease 1s forwards;
}

.welcome-next-icon {}