html,
body {
  width: 100%;
  height: 100%;
  font-family: sans-serif;
}

body {
  line-height: 1.5;
  margin: 0;
  overflow: hidden;
}

.flex {
  display: flex;
  justify-content: space-around;
}

.main {
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}

.visualizer {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background: black;
  transition: 0.5s;
}

canvas {
  width: 100%;
  height: 100%;
}